{% extends 'baseprod.html' %}
{% block title %}
  Lista de Productos
{% endblock %}
{% block body %}
<div class="jumbotron text-center">
  <h1> Listado de Productos </h1>
</div>
<div class="container">
  <h3> Productos </h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
    {% for instance in object_list %}
    <tr><td>
      {{ instance.id }} -
      <a href='{{ instance.get_absolute_url }}'>{{ instance.nombre }}</a>
    </td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
