{% load static %}
<div class="container">
  <ul class="nav">
    {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ request.user }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ Vendedor.get_absolute_url }}">Ver productos</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
      </li>
    {% endif %}
  </ul>
</div>
